extends layout

block content
    #HTML
        form(action='/layer/edit/#{data.id}', method='post')      
            main
                h1.center_gray Layer recipe
                hr
                span Choose recipe 
                select#layerChoice
                    option(value='')  - 
                        each item in dataAll
                            if(item.id == data.id)
                                option(value='#{item.id}', selected='selected') #{item.name}
                            else
                                option(value='#{item.id}') #{item.name}
                button(type='submit').button Save
                a(href='/layer/delete/#{data.id}' id='').delete Delete
                hr
                .container
                .row
                    .col-6(style='border:1px solid darkgray;text-align:right;vertical-align:top;')
                        h3 Параметры рецепта
                        label.own_label.autoW(for='prefFieldZkDt_') Позиция подложек над заслонкой, мм
                        input.prefFieldZkDt_rHolderPosStbz
                        br
                        label.own_label.autoW(for='prefFieldZkDt_') Время стабилизации под заслонкой, с
                        input.prefFieldZkDt_rTimeSlbls(value='#{data.time}', name='time')
                        br
                        label.own_label.autoW(for='prefFieldZkDt_') Скорость вращения, об/мин
                        input.prefFieldZkDt_wSubstrateSpeed
                        br
                        label.own_label.autoW(for='prefFieldZkDt_') Давление начала операции, Па
                        input.prefFieldZkDt_rUltimatePressure
                        br
                        label.own_label.autoW(for='prefFieldZkDt_') Позиция подложек, мм
                        input.prefFieldZkDt_rHolderPos
                        br
                        label.own_label.autoW(for='prefFieldZkDt_') Выбор мишени
                        select.prefFieldZkDt_wTargetNum
                            option(value='0') Мишень №1
                            option(value='1') Мишень №2
                            option(value='2') Мишень №3
                        br
                        label.own_label.autoW(for='prefFieldZkDt_') Газовая система
                        input.prefFieldZkDt_wGasSystemID
                    .col-5(style='border:1px solid darkgray;text-align:right;vertical-align:top;')
                        h3 БП высоковольтный
                        label.own_label.autoW(for='') Напряжение, В
                        input.prefFieldZkDt_wIPSSetU(value='#{data.power}', name='power')
                        br
                        br
                        h3 БП компенсатора
                        label.own_label.autoW(for='') Напряжение смещения, В
                        input.prefFieldZkDt_rITCSetUof
                        br
                        label.own_label.autoW(for='') Ток спирали 2, А
                        input.prefFieldZkDt_rITCSetI
                        br
                        label.own_label.autoW(for='') Ток спирали 3, А
                        input.prefFieldZkDt_rMGSetP
